{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base_custom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dark_mode_custom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/nav_sidebar_custom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists_custom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms_custom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets_custom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive_custom.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'modeltranslation/css/tabbed_translation_fields_custom.css' %}">
{% endblock %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
